docs/workflows/n8n_simple_fixed_workflow.json
{
  "name": "premiere_suites_simple_fixed",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Nexa. How can I assist you today?",
        "options": {}
      },
      "id": "chat-trigger",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "jsCode": "// Ensure chatInput field is properly set and add smart search optimization\nconst input = $input.first().json;\nconsole.log('Input received:', JSON.stringify(input, null, 2));\n\n// Extract message text from various possible fields\nconst messageText = input.text || input.message || input.chat_message || input.prompt || input.input || input.chatInput || input.query || '';\nconsole.log('Extracted message:', messageText);\n\n// Smart search optimization based on query type\nlet scoreThreshold = 0.3;\nlet topK = 5;\n\n// Adjust search parameters based on query content\nconst queryLower = messageText.toLowerCase();\n\n// For very specific terms, use even lower threshold\nif (queryLower.includes('alliance') || queryLower.includes('premiere suites')) {\n  scoreThreshold = 0.2;\n}\n// For specific questions, use higher threshold for better precision\nelse if (queryLower.includes('what is') || queryLower.includes('how do') || queryLower.includes('do you')) {\n  scoreThreshold = 0.4;\n}\n// For general questions, use lower threshold for broader results\nelse if (queryLower.includes('tell me') || queryLower.includes('explain') || queryLower.includes('about')) {\n  scoreThreshold = 0.25;\n}\n\nconsole.log(`Search params: threshold=${scoreThreshold}, topK=${topK}`);\n\nreturn {\n  json: {\n    ...input,\n    chatInput: messageText, // This is what the agent expects\n    text: messageText,\n    message: messageText,\n    query: messageText, // Also set query field for compatibility\n    scoreThreshold: scoreThreshold,\n    topK: topK,\n    debug_search: `Query: \"${messageText}\", Threshold: ${scoreThreshold}, TopK: ${topK}`\n  }\n};"
      },
      "id": "fix-chat-input",
      "name": "Smart Search Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "model": "gpt-5-nano",
        "options": {}
      },
      "id": "openai-model",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [144, 208],
      "credentials": {
        "openAiApi": {
          "id": "CBfciRQoF1KUjSKg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Role\nYou are the **Premier Suites Booking Concierge**.\n\n# Instructions\nYour job:\n• Qualify a web lead by collecting — in a friendly tone and one concise question at a time — the visitor's:\n    – name\n    – email\n    – city\n    – check-in and check-out dates\n    – number of guests or bedrooms\n    – monthly budget\n• If budget < $1 500 **OR** stay ≤ 7 nights:\n    – apologise\n    – give a helpful alternative\n    – end the chat\nNever quote exact prices, never promise discounts.\nRespond in plain text only (no code blocks).\n• when you are asked a question, check the vector db for the answer and match the questions, if the match is above 70% answer exactly how the answer is in the db"
        }
      },
      "id": "agent",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [400, 0]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [320, 192],
      "id": "memory",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1008, 464],
      "id": "embeddings",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "CBfciRQoF1KUjSKg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "{{ $json.chatInput || $json.query || $json.text || $json.message || '' }}",
        "topK": "{{ $json.topK || 5 }}",
        "scoreThreshold": "{{ $json.scoreThreshold || 0.3 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [736, 128],
      "id": "vector-store-tool",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "premiere_suites_faqs",
          "mode": "list",
          "cachedResultName": "premiere_suites_faqs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [368, 400],
      "id": "qdrant-store",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "QXNX5AQMJu9isjNk",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Smart Search Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Search Input": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ],
      "ai_tool": [[]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "smart-search-version",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "smart-search-instance"
  },
  "id": "smart-search-workflow",
  "tags": []
}
